Tank_Game/Content/PN_FoliageCollection/
Tank_Game/Content/PhotoR_Backgrounds/
Tank_Game/Content/ForestLandscape/
Tank_Game/Content/Tank_Parts/tank_fbx_Barrel.uasset
Tank_Game/Content/Tank_Parts/tank_fbx_Body.uasset
Tank_Game/Content/Tank_Parts/tank_fbx_Track.uasset
Tank_Game/Content/Tank_Parts/tank_fbx_Turret.uasset
